{% block content %}
<h2>Bienvenue, {{ username }} !</h2>
<button>
  <a href="{{ url_for('addItemToWatchList') }}">Rajout d'un média a regarder</a>
</button>
<a href="{{ url_for('logout') }}">Se déconnecter</a>

<h3>Ma liste</h3>
<ul>
  {% for entry in watching_list %}
  <li>
    Titre : {{ entry['viewing_name'] }} <br />
    Plateforme : {{ entry['platform'] }} <br />
    Avancement : {{ entry['advancement'] }}
    <form method="POST" action="{{ url_for('deleteItemFromWatchList', item_id=entry['id']) }}">
      <button type="submit">Supprimer</button>
    </form>
  </li>
  <br />
  {% endfor %}
</ul>
{% endblock %}